<div class="row">
    <div class="col">
        <h1>Pipes</h1>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                   <th>#</th>
                   <th>variable</th>
                   <th>Pipe</th>
                   <th>Trasformacion</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase }}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase }}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{nombre}}</td>
                    <td>titlecase</td>
                    <td>{{nombre | titlecase }}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{nombre}}</td>
                    <td>slice:1:3</td>
                    <td>{{nombre | slice:1:3 }}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{numero}}</td>
                    <td>number</td>
                    <td>{{numero | number }}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{numero}}</td>
                    <td>number:"9.1-2"</td>
                    <td>{{numero | number:"9.1-2" }}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{numero}}</td>
                    <td>number:"4.1-1"</td>
                    <td>{{numero | number:"4.1-1" }}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{numero}}</td>
                    <td>currency</td>
                    <td>{{numero | currency }}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{numero}}</td>
                    <td>currency:"EUR":true:".1-1"</td>
                    <td>{{numero | currency:"EUR":true:".1-1" }}</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>{{fecha}}</td>
                    <td>date:"shortDate"</td>
                    <td>{{fecha | date:"shortDate" }}</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>{{fecha}}</td>
                    <td>date:"dd/MM/YYYY"</td>
                    <td>{{fecha | date:"dd/MM/YYYY" }}</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>{{fecha}}</td>
                    <td>date:"hh:mm:ss"</td>
                    <td>{{fecha | date:"hh:mm:ss" }}</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>{{aLista}}</td>
                    <td>pipeFiltList (creada por mi)</td>
                    <td>{{aLista | pipeFiltList:5:35 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
