<div class="row">
    <div class="col">
        <h1>Switch</h1>
        <hr>
        @switch (valor) {
            @case("primary"){
                <div class="alert alert-primary">Primary</div>
            }
            @case("secondary"){
                <div class="alert alert-secondary">Secondary</div>
            }
            @case("warning"){
                <div class="alert alert-warning">Warning</div>
            }
            @default {
                <div class="alert alert-danger">Danger</div>
            }
        }
    </div>
</div>